.sidebar {
      background-color: $color-primary;
      grid-column: sidebar-start/sidebar-end;
      grid-row: 1/-1;
      text-align: center;

      @media only screen and (max-width: $bp-large) {
            grid-column: full-start/ -1;
            grid-row: 1/ 2;
            display: flex;
            justify-content: flex-end;
            align-items: center;
      }
}

.burger {

      
      padding-top: 4rem;
      
      
      position: relative;

      @media only screen and (max-width: $bp-large) {
            padding-top: 0;
            margin-right: 3rem;
            
      }
   /*   &::before {
            content: " ";
            height: 0;
            width: 100%;
            display: block;
            position: absolute;
            left: 0;
            top: 0;
            background-image: linear-gradient(to bottom, rgba($color-grey-dark-1, .8), transparent);
            opacity: 0;
            transition: all .4s cubic-bezier(0.785, 0.135, 0.15, 0.86);
      }
      

      &:hover::before {
            height: 100%;
            opacity: 1;

            
      }

      */

      &:hover .nav-btn {
            transform: rotate(90deg) translateY(.3rem);
            box-shadow: 0rem 1.025rem 0rem rgba($color: #fff, $alpha: 1.0),
            0rem 2.05rem 0rem rgba($color:  #fff, $alpha: 1.0),
            ;
            background-color: #fff;
         
      }
      &:hover .nav-btn::before {
            
            transform: rotateZ(-60deg) translateY(.5rem) translateX(-.75rem) ;
            box-shadow: -.9rem .5rem 0rem rgba($color: #fff, $alpha: 1.0),
            -1.8rem 1rem 0rem rgba($color: #fff, $alpha: 1.0),
            ;
            background-color: #fff;
      }
      &:hover .nav-btn::after {
            
            transform: rotateZ(60deg) translateY(-.3rem) translateX(-.65rem);
            box-shadow: .9rem .5rem 0rem rgba($color: #fff, $alpha: 1.0),
            1.8rem 1rem 0rem rgba($color: #fff, $alpha: 1.0),
            ;
            background-color: #fff;
      }
}

.nav-btn {
      border: none;
      width: 3.5rem;
      opacity: 1;
      transform-origin: origin;
      z-index: 200;
      
      
     

      background-color: $color-grey-light-1;
      height: .3rem;
      border-radius: 10rem;
      position: relative;
      transition: all .4s cubic-bezier(0.785, 0.135, 0.15, 0.86);
      
     
      &::after,
      &::before {
            content: " ";
            height: 100%;
            width: 100%;
            display: block;
            position: absolute;
            left: 0;
            background-color: $color-grey-light-1;
            border-radius: 10rem;
            transition: all .4s cubic-bezier(0.785, 0.135, 0.15, 0.86);
      }

      &::before {
            top: -.8rem;
            background-color: $color-grey-light-1;
            transform-origin: left;
      }
      &::after {
            top: .8rem;
            background-color: $color-grey-light-1;
            transform-origin: right;
            
      }

      
}